.section {
  font-size: 24px;
}

.title {
  padding-bottom: 10px;
  width: 500px;
  border-bottom: 1px #ffffff56 solid;
}

.container {
  display: flex;
}

.blockInfo {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
}

.detailsInfoBlock {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.detailsName {
  font-size: 14px;
  margin-bottom: 16px;
}

.details {
  font-weight: 300;
}

.icon {
  margin-right: 5px;
}

.sun-data {
  height: 100%;
}
