.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  background-image: url(./image/Background.png);
  background-size: 100% 100%;
  padding: 0 65px;
}
